<ion-header>
  <ion-toolbar>
    <ion-title>
      Info List
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/create"><ion-icon name="add-circle"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      Information
    </ion-list-header>

    <ion-item-sliding  *ngFor="let info of infos" #item>
      <ion-item>
        {{info.info_title}}
      </ion-item>
      
      <ion-item-options>
        <button ion-button color="danger" (click)="delete(info.key)">
          <ion-icon name="close"></ion-icon>
          Delete
        </button>
        <button ion-button color="secondary" (click)="edit(info.key)">
          <ion-icon name="create"></ion-icon>
          Edit
        </button>
        <button ion-button color="secondary" routerLink="/detail/{{info.key}}">
          <ion-icon name="information"></ion-icon>
          Detail
        </button>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>
</ion-content>